@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');

.form {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 75%;
    max-width: 850px;
    margin: 5% auto;
}

form {
    display: flex;
    flex-direction: column;

    width: 100%;
}

form input, textarea {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #AF2771;
    padding: 10px 0;
    transition: all .3s ease-in-out;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
}

input:hover, input:focus, textarea:hover, textarea:focus {
    outline: none;
    border-color: rgb(226, 43, 226);
}

#name::placeholder, #email::placeholder, #msg::placeholder {
    padding-left: 5px;
}

#name {
    margin-bottom: 25px;
}

#email {
    margin-bottom: 40px;
}

#msg {
    margin-bottom: 20px;
}

button {
    width: 200px;
    height: 50px;
    color: #fff;
    background-color: #AF2771;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    transition: all .3s ease-in-out;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

button:hover {
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 0 2px rgb(226, 43, 226);
}