/* MEDIA QUERIES */

@media (max-width: 1170px) {
    .info h1 {
      font-size: 60px;
    }
  
    .name {
      font-size: 25px;
    }
  
    .profpic {
      width: 20rem;
      height: 20rem;
    }
  }

  @media (max-width: 1023px) {
    .cards {
      max-width: 600px;
    }

    .card {
      max-width: 250px;
      height: 250px;
    }
  }
  
  @media (max-width: 880px) {
    .content-home {
      padding-top: 10rem;
      flex-wrap: wrap;
    }
  
    .info h1 {
      font-size: 50px;
    }
  
    .name {
      font-size: 20px;
    }
  
    .profpic {
      width: 17rem;
      height: 17rem;
    }
  }
  
  @media (max-width:630px) {
    nav {
      display: none;
    }
  
    .line1, .line2, .line3 {
      background-color: #fff;
      height: 5px;
      width: 100%;
      margin: 6px auto;
  
      transition-duration: 0.3s;
    }
  
    .menu-toggle {
      width: 40px;
      height: 30px;
      margin-right: 20px;
    }
  
    /* fullscreen */
    .menu.on {
      position: absolute;
      top:0;
      left:0;
      
      width: 100vw;
      height: 100vh;
  
      background-color: #AF2771;
      
      z-index: 10;
  
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .menu.on nav {
      display: block;
    }
  
    .menu.on .menu-toggle {
      position: absolute;
      right: 5px;
      top: 27px;
    }
  
    .menu.on .menu-toggle .line1 {
      transform: rotate(45deg) translate(7px, 7px);
    }
  
    .menu.on .menu-toggle .line2 {
      opacity: 0;
    }
  
    .menu.on .menu-toggle .line3 {
      transform: rotate(-45deg) translate(8px, -9px);
    }
  
    .menu.on nav ul {
      text-align: center;
      display: block;
    }
  
    .menu.on nav ul a{
      transition-duration: 0.5s;
      font-size: 3rem;
      line-height: 4rem;
      display: block; 
    }
  }

  @media (max-width: 610px) {

    .card {
      max-width: 150px;
      height: 150px;
    }
  }
  
  @media (max-width: 450px) {
    .info {
      padding-bottom: 1rem;
    }
  
    .info h1 {
      font-size: 35px;
    }
  
    .name {
      font-size: 15px;
    }
  
    .profpic {
      width: 14rem;
      height: 14rem;
    }

    .text p {
      font-size: 1.15em;
    }

    .social img {
      width: 35px;
      height: 35px;
    }
  }

  @media (max-width: 325px) {
    .text p {
      font-size: 1rem;
    }
  }

  @media (max-width: 285px) {
    .card {
      width: 125px;
      height: 125px;
    }
  }